body{
            background-color:black;
            color:lawngreen
        }
        h1{
            color:greenyellow
        }
        #html{
            color:rgb(74, 139, 0);
    
        }
        #676767{
            
        }