body{
            background-color:black;
            color:rgb(0, 181, 252)
        }
        h1{
            color:greenyellow
        }
        #html{
            color:rgb(74, 139, 0);
    
        }
        #curtidas{
            background-color: darkred; /*cor de fundo*/
            color: midnightblue; /*cor da letra*/
            padding: 5px 10px 5px 10px; /* espaco de dentro*/
            border: 2px solid darkred; /*borda*/
            border-radius: 12px; /*borda arredondada
        }